body {
	background-color: #000;
  font-family: Roboto;
  font-size: 0.875em;
  line-height: 22px;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('Roboto-Thin.ttf') format('truetype');
}

@font-face {
  font-family: 'RobotoMedium';
  font-style: normal;
  font-weight: 400;
  src: url('Roboto-Medium.ttf') format('truetype');
}

.page { background-color: #000; }
.logo { background: url('../img/log.png') no-repeat -0px, -0px; height: 70px; width: 200px; text-indent: -1000px;margin: 15px auto 0 auto; }
@media only screen and (min--moz-device-pixel-ratio: 1.3), only screen and (-o-min-device-pixel-ratio: 2.6 / 2), only screen and (-webkit-min-device-pixel-ratio: 1.3), only screen and (min-device-pixel-ratio: 1.3), only screen and (min-resolution: 1.3dppx) {
.logo {
    background-image: url("../img/logo_2x.png?ver=3");
    background-size: 192px, 0; 
	}
}

.navbar { background-color: #000; height: 100px;}
/** Panel **/
.panel .close {text-indent: -1000px; width: 80px; height: 80px; background: url(../img/close.png) no-repeat -0px, -0px; position: absolute; top: 32px; right: -32px; background-size: 25%}
.panel {background-color: #004b8c;}
.panel .phone { width: 60px; height: 60px; position: absolute; bottom: 40%; right: 25px; display: block}
.panel .location { width: 60px; height: 60px; position: absolute; bottom: 20%; right: 25px; display: block}
/** Left Nav **/
.left-nav {margin-top: 140px; margin-right: 12px;}
.left-nav > * { color: white; list-style-type: none;}
.left-nav a {color: white;font-size: 18px;letter-spacing: 0.125em;display: block;margin-bottom: 15px; text-align: right}
/** End left Nav **/

.left-hamburger { position: absolute; left: 10px; top: 50%;height: 40px;width: 40px;margin-top: -20px; background: url(../img/hamburger.png) no-repeat -0px, -0px;}
.page-content { color: #fff;} 

/** toolbar **/

.toolbar { background-color: red; text-align: center; justify-content: center; height: 50px;}
.toolbar a {color: white; font-weight: bold; display: block; text-align: center; width: 100%; height: 100%; padding-top: 25px;}
.toolbar-inner {justify-content: center;}
/*.swiper-container { height: 250px; }
.swiper-slide { 
  background:blue;
}*/
.swiper-slide span {
  text-align:center;
  display:block;
  margin:20px;
  font-size:21px;
}
.img-wrapper {
	width: 100%;
}

h1 {
	font-weight: normal; font-size: 1.375em; text-align: center; font-family: RobotoMedium; letter-spacing: 0.0625em;
}
h2 { font-family: RobotoMedium; letter-spacing: 0.0625em; font-size: 1.175em;}

.img-item { display: block; }

.img-item img {
	max-width: 100%;
}
.hide {display: none;}
.hero {margin: 0 -15px;}
.hero img {width: 100%;}
.call-icon {width: 60px; height: 61px; background-color: transparent; position: absolute; bottom: 32px; right: 10px; z-index: 10000; display: block}
.call-icon img {max-width: 100%;}
.content-block {margin-top: 60px;}